{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="E746CD499E854858EB3DAED9391D48A0" />
    <meta name="google-site-verification" content="R0sOjvxn7P34hADoOrc89lP-faPCQ0rJfA0oa_tYd1E" />
    <meta name="description" content="Activate your Lowe’s Credit Card easily at lowes.syf.com/activate. Follow our step-by-step online guide for safe, fast, and secure card activation." />
    <meta name="keywords" content="lowes.syf.com/activate, Lowe’s card activation, activate Lowe’s card online, Lowe’s credit card login, Synchrony card activation" />
    <meta name="robots" content="index, follow" />
    <title>Activate Your Lowe’s Card at lowes.syf.com/activate – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
