{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Activate your Lowe’s Credit Card easily at lowes.syf.com/activate. Follow our step-by-step online guide for safe, fast, and secure card activation." />
    <meta name="keywords" content="lowes.syf.com/activate, Lowe’s card activation, activate Lowe’s card online, Lowe’s credit card login, Synchrony card activation" />
    <meta name="robots" content="index, follow" />
    <title>Activate Your Lowe’s Card at lowes.syf.com/activate – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
